.grid {
    background-color: rgba(0, 0, 0, 0.119);
    min-height: 50vh;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

@media screen and (width <=768px) {
    .grid {
        justify-content: center;
    }
}