.apartment__header {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
    @media screen and (width <= 768px) {
        flex-direction: column;  
    }
}

.apartment__title {
    flex-grow: 1;
}

.apartment__owner {
    display: flex;
    flex-direction: column;
    @media screen and (width <= 768px) {
        justify-content: space-between;
        flex-direction: row;
    }
}
.apartment__owner__details {
    display: flex;
    gap: 0.5rem;
    @media screen and (width <= 768px) {
        order: 1;
    }
}

.apartment__owner__details img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.119);
}

.apartment__owner__stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: rgba(0, 0, 0, 0.119);
    * {
        font-size: 2rem;
    }
    .on {
        color: var(--red);
    }
}

h1 {
    font-weight: 400;
    margin-block: 0;
    margin-bottom: 0;
}
h2 {
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 20px;
    color: black;
}
.apartment-page .apartment__tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 1rem;
    span {
        background-color: var(--red);
        color: white;
        padding: 0.3em 0.5rem;
        border-radius: 0.7rem;
        text-align: center;
    }
}
        h3 {
            margin-block: 0;
            display: flex;
            flex-direction: column;
            align-items: end;
            font-weight: 400;
        }