.grid {
    background-color: #f7f7f7;
    min-height: 50vh;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

.grid > * {
    width: 100%;
    max-width: 20rem;
}

@media screen and (width <=768px) {
    .grid {
        justify-content: center;
        background-color: white;
        padding: 0;
        margin-right: 6rem;
    }
}