.banner {
    position: relative;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    padding-inline: 2rem;
    background-image: url(https://unsplash.it/800/200);
    min-height: 140px;
    max-width: 80vw;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: 2rem;
}

.banner::before {
    position: absolute;
    border-radius: 2rem;
    content: "";
    inset: 0;
    opacity: .5;
}