.description__panel {
    margin-bottom: 1rem;
    flex-basis: 50%;
    overflow: hidden;
  }
  
  .description__panel p {
    margin-block: 0;
  }
  
  .description__panel .description__header {
    background-color: var(--red);
    color: #F6F6F6;
    padding: 0.2em 1em;
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .description__panel .description__header i {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .description__panel .description__content {
    background-color: rgba(0, 0, 0, 0.119);
    color: var(--red);
    padding: 1rem;
    border-radius: 0.7rem;
    position: relative;
    top: -0.3rem;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
  }
  
  .description__panel .description__content.hidden {
    transform: translateY(-100%);
  }
  
  .description__panel .description__content.visible {
    transform: translateY(0);
  }
  