.navbar {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: black;
    font-weight: 600;
    gap: 2rem;
    @media screen and (width <= 768px) {
        text-transform: uppercase;
        font-weight: 400;
    }
}

.navbar a {
    text-decoration: none;
    color: black
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a.active {
    text-decoration: underline;
}

.navbar > *:first-child {
    margin-right: auto;
}

.navbar img {
    margin-left: 7rem;
    margin-top: 13px;
}