.banner {
    position: relative;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    padding-inline: 2rem;
    background-image: url("accueil_1.png");
    min-height: 214px;
    max-width: 80vw;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}

.banner h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.banner::before {
    position: absolute;
    border-radius: 2rem;
    content: "";
    inset: 0;
    opacity: 0.5;
}